<a href="https://colab.research.google.com/github/Adeonthebeat/BigDataCert/blob/main/%EC%9E%91%EC%97%85%ED%98%952_5%ED%9A%8Cipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
다음은 Used car 데이터 세트다.
주어진 훈련 데이터 세트를 활용하여 중고차의 판매가격을 예측하고 해당 예측결과를 csv파일로 제출하시오.
'''
# rmse
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (274/274), done.
remote: Compressing objects: 100% (165/165), done.
remote: Total 637 (delta 136), reused 184 (delta 109), pack-reused 363
Receiving objects: 100% (637/637), 10.76 MiB | 21.15 MiB/s, done.
Resolving deltas: 100% (321/321), done.

In [ ]:
import pandas as pd

# Data read
x_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/504_x_test.csv')
x_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/504_x_train.csv')
y_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/504_y_train.csv')

In [ ]:
print(x_test.head())

     id model  year transmission  mileage fuelType  tax   mpg  engineSize
0  7469    A4  2020    Semi-Auto     4000   Diesel  145  54.3         3.0
1  7470    A6  2016       Manual    31300   Diesel   30  61.4         2.0
2  7471    Q5  2019    Semi-Auto    11296   Diesel  150  38.2         2.0
3  7472    A1  2018       Manual     6500   Petrol  145  55.4         1.4
4  7473    A3  2016       Manual    31524   Petrol   30  60.1         1.4

In [ ]:
print(x_train.head())

   id model  year transmission  mileage fuelType  tax   mpg  engineSize
0   1    A1  2019    Automatic     3500   Petrol  145  40.9         2.0
1   2   RS4  2020    Semi-Auto     2500   Petrol  145  28.8         2.9
2   3    A8  2019    Semi-Auto      500   Diesel  145  40.4         3.0
3   4    Q5  2019    Semi-Auto     5089   Diesel  150  38.2         2.0
4   5    A5  2020    Semi-Auto     4951   Diesel  145  51.4         2.0

In [ ]:
print(y_train.head())

   id  price
0   1  21350
1   2  69691
2   3  42950
3   4  31470
4   5  27495

In [ ]:
print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3200 non-null   int64
 1   model         3200 non-null   object
 2   year          3200 non-null   int64
 3   transmission  3200 non-null   object
 4   mileage       3200 non-null   int64
 5   fuelType      3200 non-null   object
 6   tax           3200 non-null   int64
 7   mpg           3200 non-null   float64
 8   engineSize    3200 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 225.1+ KB
None

In [ ]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7468 non-null   int64
 1   model         7468 non-null   object
 2   year          7468 non-null   int64
 3   transmission  7468 non-null   object
 4   mileage       7468 non-null   int64
 5   fuelType      7468 non-null   object
 6   tax           7468 non-null   int64
 7   mpg           7468 non-null   float64
 8   engineSize    7468 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 525.2+ KB
None

In [ ]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      7468 non-null   int64
 1   price   7468 non-null   int64
dtypes: int64(2)
memory usage: 116.8 KB
None

In [ ]:
x_train.isnull().sum()

id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [ ]:
# x_test.isnull().sum()
print(x_test.head())

     id model  year transmission  mileage fuelType  tax   mpg  engineSize
0  7469    A4  2020    Semi-Auto     4000   Diesel  145  54.3         3.0
1  7470    A6  2016       Manual    31300   Diesel   30  61.4         2.0
2  7471    Q5  2019    Semi-Auto    11296   Diesel  150  38.2         2.0
3  7472    A1  2018       Manual     6500   Petrol  145  55.4         1.4
4  7473    A3  2016       Manual    31524   Petrol   30  60.1         1.4

In [ ]:
# id model  year transmission  mileage fuelType  tax   mpg  engineSize
# 불필요 변수  : id
# 범주형 변수  : model / transmission / fuelType
# 수치형 변수  : year / mileage / tax / mpg / engineSize

COL_DEL = ['id']
COL_CAT = ['model', 'transmission', 'fuelType']
COL_NUM = ['year', 'mileage', 'tax', 'mpg', 'engineSize']
COL_Y = ['price']

In [ ]:
# 데이터 분리
from sklearn.model_selection import train_test_split

x_tr, x_val, y_tr, y_val = train_test_split(x_train[COL_NUM + COL_CAT]
                                           ,y_train[COL_Y].values.ravel()
                                           ,test_size = 0.3)

In [ ]:
print(x_tr.head())

      year  mileage  tax   mpg  engineSize model transmission fuelType
1738  2016    49458   30  61.4         2.0    A6    Semi-Auto   Diesel
4573  2016    34359  125  52.3         1.4    A3       Manual   Petrol
4189  2016    46553   30  61.4         2.0    Q3       Manual   Diesel
6250  2017     7800  150  57.6         1.4    A1       Manual   Petrol
4205  2016    32011  145  49.6         1.4    Q3       Manual   Petrol

In [ ]:
print(y_tr)

[14498 14222 13849 ... 35995 18798 20880]

In [ ]:
# 스케일링
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_tr[COL_NUM])

# 필수 모든 데이터 스케일링 필요
x_tr[COL_NUM] = scaler.transform(x_tr[COL_NUM])
x_val[COL_NUM] = scaler.transform(x_val[COL_NUM])
x_test[COL_NUM] = scaler.transform(x_test[COL_NUM])

print(x_tr[COL_NUM].head())

          year   mileage       tax       mpg  engineSize
1738 -0.516489  1.040286 -1.426713  0.812395    0.131166
4573 -0.516489  0.398489 -0.003096  0.102389   -0.886053
4189 -0.516489  0.916806 -1.426713  0.812395    0.131166
6250 -0.045668 -0.730426  0.371540  0.515909   -0.886053
4205 -0.516489  0.298685  0.296613 -0.108272   -0.886053

In [ ]:
# 범주형 변수 데이터 인코딩
from sklearn.preprocessing import LabelEncoder

x = pd.concat([x_train[COL_CAT], x_test[COL_CAT]])

for col in COL_CAT:
  le = LabelEncoder()
  le.fit(x[col])
  x_tr[col] = le.transform(x_tr[col])
  x_val[col] = le.transform(x_val[col])
  x_test[col] = le.transform(x_test[col])

  print(col)
  print(le.classes_)
  print('\n')

model
[' A1' ' A2' ' A3' ' A4' ' A5' ' A6' ' A7' ' A8' ' Q2' ' Q3' ' Q5' ' Q7'
 ' Q8' ' R8' ' RS3' ' RS4' ' RS5' ' RS6' ' RS7' ' S3' ' S4' ' S5' ' S8'
 ' SQ5' ' SQ7' ' TT']


transmission
['Automatic' 'Manual' 'Semi-Auto']


fuelType
['Diesel' 'Hybrid' 'Petrol']

In [ ]:
print(x_tr[COL_CAT].head())

      model  transmission  fuelType
1738      5             2         0
4573      2             1         2
4189      9             1         0
6250      0             1         2
4205      9             1         2

In [ ]:
# 랜덤 포레스트
from sklearn.ensemble import RandomForestRegressor
model_rf = RandomForestRegressor(random_state=123)
model_rf.fit(x_tr, y_tr)

# XGBoost
from xgboost import XGBRegressor
model_xgb = XGBRegressor(random_state=123)
model_xgb.fit(x_tr, y_tr)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=123, ...)

In [ ]:
y_val_rf = model_rf.predict(x_val)
y_val_xgb = model_xgb.predict(x_val)

In [ ]:
# 답안 제출 기준 RMSE
from sklearn.metrics import mean_squared_error
import numpy as np

def cal_rmse(actual, pred):
  return np.sqrt(mean_squared_error(actual, pred))

score_rf = cal_rmse(y_val, y_val_rf)
score_xgb = cal_rmse(y_val, y_val_xgb)

print('RANDOM FOREST : ', score_rf)
print('XGBOOST       : ', score_xgb)

RANDOM FOREST :  2384.3535549113235
XGBOOST       :  2312.8880559395307

In [ ]:
pred = model_xgb.predict(x_test[COL_NUM + COL_CAT])
result = pd.DataFrame({'id' : x_test.id, 'price' :pred})
print(result.head())

     id         price
0  7469  29707.900391
1  7470  16958.250000
2  7471  34561.476562
3  7472  15710.848633
4  7473  15458.408203

In [ ]:
result.to_csv('223008_001.csv', index=False)