<a href="https://colab.research.google.com/github/Adeonthebeat/BigDataCert/blob/main/%EC%9E%91%EC%97%85%ED%98%951.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 5회 작업형 1

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (274/274), done.
remote: Compressing objects: 100% (165/165), done.
remote: Total 637 (delta 136), reused 184 (delta 109), pack-reused 363
Receiving objects: 100% (637/637), 10.76 MiB | 21.91 MiB/s, done.
Resolving deltas: 100% (321/321), done.

In [ ]:
# 5회 작업형 1-1
'''
주어진 trash bag 데이터 세트는 지역별 종량제 봉투 가격을 나타낸다.
가격 컬럼은 각 행의 조건을 만족하는 해당 요량의 종량제 봉투가 존재하면 가격을 값으로, 존재하지 않으면 0으로 갖는다
이 때 용도가 '음식물쓰레기'고 사용대상이 '가정용'인 2L 봉투가격의 평균을 소수점을 버린 후 정수로 출력하시오.
'''

import pandas as pd

trash_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/501_trash_bag.csv', encoding='cp949')

# 데이터 바르기
test_filter = trash_test[(trash_test['용도'] == '음식물쓰레기') & (trash_test['사용대상'] == '가정용')]
test_fit = test_filter[test_filter['2L가격'] != 0]

trash_result = int(test_fit['2L가격'].mean())

print(trash_result)

119

In [ ]:
# 5회 작업형 1-2
'''
BMI는 몸무게(kg)를 키(m)의 제곱으로 나누어 구하며, BMI 값에 따른 비만도 분류는 다음과 같다.
18.5      -> 저체중
18.5 ~ 23 -> 정상
23 ~ 25   -> 과체중
25 ~ 30   -> 경도비만
30        -> 중등도비만
이 때 주어진 BMI 데이터 세트에서
비만도가 정상에 속하는 인원 수와 과체중에 속하는 인원 수의 차이를 정수로 출력하시오.
'''

bmi_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/502_bmi.csv')

bmi_test['Height'] = bmi_test['Height'] / 100
bmi_test['BMI'] = bmi_test['Weight'] / (bmi_test['Height'] ** 2)

n1 = len(bmi_test[(bmi_test['BMI'] >= 18.5) & (bmi_test['BMI'] < 23)])
n2 = len(bmi_test[(bmi_test['BMI'] >= 23) & (bmi_test['BMI'] < 25)])

bmi_result = abs(n1 - n2)

print(bmi_result)

28

In [ ]:
# 5회 작업형 1-3 ***
'''
주어진 students 데이터 세트는 각 학교의 학년별 총 전입학생, 총 전출학생, 전체 학생 수를 나타낸다.
순전입학생 순는 총 전입학생 수에서 총 전출학생 수를 빼서 구할 수 있다.
순전입학생이 가장 많은 학교의 전체 학생 수를 구하시오.
'''


student_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/503_students.csv', encoding = 'cp949')

student_test['순 전입학생 수'] = student_test['총 전입학생'] - student_test['총 전출학생']
st_df = student_test.groupby(['학교'])[['순 전입학생 수', '전체 학생 수']].sum()
student_result = st_df.loc[st_df['순 전입학생 수'] == max(st_df['순 전입학생 수']), '전체 학생 수'].values[0]

print(student_result)

566

In [ ]:
# 4회 작업형 1-1
'''
주어진 리스트에 대해 아래 과정을 차례로 수행한 최종 결과값을 출력하시오.
list = [2, 3, 3.2, 5, 7.5, 10, 11.8, 12, 23, 25, 31.5, 34]
1) 제1사분위수와 제3사분위수를 구하시오.
2) 제1사분위수와 제3사분위수의 차이의 절대값을 구하시오.
3) 그 값의 소수점을 버린 후, 정수로 출력하시오.
'''

'\n주어진 리스트에 대해 아래 과정을 차례로 수행한 최종 결과값을 출력하시오.\n1) 제1사분위수와 제3사분위수를 구하시오.\n2) 제1사분위수와 제3사분위수의 차이의 절대값을 구하시오.\n3) 그 값의 소수점을 버린 후, 정수로 출력하시오.\n'

In [ ]:
import numpy as np

list = [2, 3, 3.2, 5, 7.5, 10, 11.8, 12, 23, 25, 31.5, 34]

Q1 = np.quantile(list, 0.25)
Q3 = np.quantile(list, 0.75)

diff = abs(Q3 - Q1)

Q_result = int(diff)

# 최종값만 출력.
print(Q_result)

18

In [ ]:
# 4회 작업형 1-2
'''
주어진 facebook 데이터 세트는 페이그스북 라이브에 대한 사용자 반응을 집계한 것이다.
이 중 love(num_loves)와 wow(num_wows)을 매우 긍정적인 반응이라고 정의할 때,
전체 반응 수(num_reaction) 중 매우 긍정적인 반응이 차지하는 비율을 계산하시오.
그리고 그 비율이 0.5보다 작고 0.4보다 크며 유형이 비디오에 해당하는 건수를 정수로 출력하시오.
'''

'\n주어진 facebook 데이터 세트는 페이그스북 라이브에 대한 사용자 반응을 집계한 것이다.\n이 중 love(num_loves)와 wow(num_wows)을 매우 긍정적인 반응이라고 정의할 때, \n전체 반응 수(num_reaction) 중 매우 긍정적인 반응이 차지하는 비율을 계산하시오.\n그리고 그 비율이 0.5보다 작고 0.4보다 크며 유형이 비디오에 해당하는 건수를 정수로 출력하시오.\n'

In [ ]:
import pandas as pd

fb_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/402_facebook.csv')

fb_test['pos_prop'] = (fb_test['num_loves'] + fb_test['num_wows']) / fb_test['num_reactions']
fb_fit = fb_test[(fb_test['pos_prop'] > 0.4) & (fb_test['pos_prop'] < 0.5) & (fb_test['status_type'] == 'video')]
fb_result = len(fb_fit)

print(fb_result)

90

In [ ]:
# 4회 작업형 1-3
'''
주어진 netflex 데이터 세트는 넷플릭스에 등록된 컨텐츠의 메타 데이터다.
2018년 1월에 넷플릭스에 등록된 컨텐츠 중에서
'United Kingdom'이 단독 제작한 컨텐츠의 수를 정수로 출력하시오.
'''

import pandas as pd

nf_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/403_netflix.csv')

nf_df = nf_test[nf_test['date_added'].str.contains('January') & nf_test['date_added'].str.contains('2018')]
nf_df = nf_df[nf_df['country'] == 'United Kingdom']

result = len(nf_df)

print(result)

6

In [ ]:
# 3회 작업형 1-1
'''
다음은 Califonia Housing 데이터 세트다. 데이터 중 결측치가 있는 경우 해당 데이터의 행을
모두 제거하고 첫 번째 행부터 순서대로 70%까지 훈련 데이터로 추출한 데이터 세트를 구성한다.
변수 중 'housing_median_age'의 Q1(제1사분위수) 값을 정수로 계산하시오.
'''
import pandas as pd

house_df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/301_housing.csv')

# 결측치 존재 여부 확인
# print(house_df.isnull().sum())

# 결측치 제거
house_df_dropna = house_df.dropna().reset_index()

# print("원본 : {} ", len(house_df))
# print("조정 : {} ", len(house_df_dropna))

# 70%까지 훈련 데이터로 추출
house_rs_df = house_df_dropna.iloc[:int(len(house_df_dropna) * 0.7)]
# print("70% 추출 데이터 건수 : {} ", len(house_rs_df))

# 'housing_median_age'의 Q1(제1사분위수) 값
house_result = int(house_rs_df['housing_median_age'].quantile(0.25))

print(house_result)

19

In [ ]:
# 3회 작업형 1-2
'''
다음은 구각별 연도별 인구 10만명 당 결핵 유병률 데이터 세트다.
2000년도의 국가별 결핵 유병률 데이터 세트에서
2000년도의 평균값보다 더 큰 유병률 값을 가진 국가의 수를 계산하시오.
'''
import pandas as pd

w_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/302_worlddata.csv')

# print(w_test.head())

# 2000년도 데이터 추출 및 year 데이터 삭제
df_2000 = w_test[w_test['year'] == 2000].drop('year', axis = 1)

# 행/열 변환 -> T함수를 이용해서 행/열 변환
df_2000.index = ['value']
df_2000_T = df_2000.T

# 값이 평균보다 큰 데이터만 추출하기 위헤 데이터세트[value] > 평균
w_df = df_2000_T[df_2000_T['value'] > df_2000_T['value'].mean()]

w_result = len(w_df)

print(w_result)

76

In [ ]:
# 3회 작업형 1-3
'''
다음은 Titanic 데이터 세트다. 주어진 데이터 세트의 컬럼 중 빈 값 또는 결측치를 확인하여
결측치 비율이 가장 높은 변수명을 출력하시오.
'''
import pandas as pd

ttn_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/303_titanic.csv')

ttn_df = ttn_test.isnull().sum().reset_index()
ttn_df.columns = ['var', 'count']

ttn_result = ttn_df.loc[ttn_df['count'] == ttn_df['count'].max(), 'var'].values[0]
# ttn_result = ttn_df.loc[ttn_df['count'] == ttn_df['count'].max(), 'var']

print(ttn_result)

Age

In [ ]:
# 2회 작업형 1-1
'''
다음은 Boston Housing 데이터 세트다. 범죄율 컬럼인 Crim 항목의 상위에서
10번째 값(즉, 범죄율을 큰순서로 내림차순 정렬했을 때, 10번째 값)으로
상위 10개의 값을 변환한 후, age가 80 이상인 데이터를 추출하여 Crim 평균값을 도출하시오.
'''
import pandas as pd

crim_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/201_boston.csv')

# CRIM(범죄율)이 높은 순으로 정렬(ascending=False)
crim_df = crim_test.sort_values(by='CRIM', ascending=False)

# 상위 10번째 값을 찾기 위해 iloc 함수 활용
# iloc[x, y]함수에서 x는 행의 위치, y는 컬럼의 위치
# iloc[9, 0] = 10번째 행의 첫번째 컬럼인 CRIM을 의미
crim_value = crim_df.iloc[9, 0]

# 첫번째헹부터 10번째행까지 데이터 값을 변경하기 위해 iloc을 사용
# iloc[a:b, y]는 데이터의 a~b y번 열을 출력
# iloc[:10, 0] = 1 ~ 10행의 첫번째 컬럼인 CRIM을 의미
# 여기에 crim_value를 지정하면 선택한 데이터가 crim_value로 변환
crim_df.iloc[:10, 0] = crim_value

# 나이가 80세 이상인 사람을 추출
crim_rs = crim_df[crim_df['AGE'] >= 80]

# 나이가 80세 이상인 사람을 추출 후, 평균값 도출
crim_result = crim_rs['CRIM'].mean()

print(crim_result)

5.759386625

In [ ]:
# 2회 작업형 1-2 - 스케일링 / 표준편차
'''
다음은 California Housing 데이터 세트다.
주어진 데이터의 첫 번째 행부터 순서대로 80%까지 데이터를 훈련데이터로 추출 후
전체 방 개수 컬럼을 의미하는 'total bedrooms' 변수의 결측치를
'total bedrooms' 변수의 중앙값으로 대체한 데이터 세트로 구성한다.
결측치 대체 전의 'total bedrooms' 변수의 표준편차 값과
결측치 대체 후의 'total bedrooms' 변수 표준편차 값과의 차이에 대한 절대값을 계산하시오.
'''

import pandas as pd

cal_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/202_housing.csv')

# 80%의 데이터에 해당하는 행 수 계산
value = int(len(cal_test) * 0.8)

# 변수명으로 데이터 추출 = loc
cal_rs = cal_test.loc[:value-1, 'total_bedrooms']
# cal_rs = cal_test.iloc[:value]['total_bedrooms']

std1 = cal_rs.std()
med = cal_rs.median()

# 결측값 채우기 및 표준편차 계산
cal_rs_fillna = cal_rs.fillna(med)
std2 = cal_rs_fillna.std()

cal_result = abs(std1 - std2)

print(cal_result)

1.9751472916456692

In [ ]:
# 2회 작업형 1-3 - 이상치
'''
2번에서 활용한 California Housing 데이터 세트를 그대로 활용한다.
인구 컬럼인 population 항목의 이상값의 합계를 계산하시오.
(이상값은 평균에서 1.5x 표준편차를 초과하거나 미만인 값의 범위로 정함)
'''

import pandas as pd

cali_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/203_housing.csv')

cali_mean = cali_test['population'].mean()
cali_std = cali_test['population'].std()

# print("# 평균      : ", cali_mean)
# print("# 표준편차   : ", cali_std)

# 평균과 표준편차를 활용해서 이상값의 임계치(상한과 하한)를 계산
# 상한 = 평균 + (표준편차 * 1.5)
# 하한 = 평균 - (표준편차 * 1.5)
lower = cali_mean - (cali_std * 1.5)
upper = cali_mean + (cali_std * 1.5)

# print("# 정상범위 최소값 : ", lower)
# print("# 정상범위 최대값 : ", upper)

# 상향/하향 조건을 만족하기 위해 OR 조건 활용. OR = | / AND = &
cali_rst = cali_test.loc[(cali_test['population'] < lower) | (cali_test['population'] > upper), 'population']

cali_result = cali_rst.sum()
print(cali_result)

5607295.0

## T1 이상치를 찾아라(IQR활용)
### T데이터에서 IQR을 활용해 Fare컬럼의 이상치를 찾고, 이상치 데이터의 여성 수를 구하시오

In [ ]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
t1_train = pd.read_csv('/content/T1_train.csv')
t1_test = pd.read_csv('/content/T1_test.csv')

In [ ]:
# EDA
print(t1_train.head())
# print(T1_train.shape)
print(t1_train.isnull().sum())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# IQR 구하기
Q1 = t1_train['Fare'].quantile(0.25)
Q3 = t1_train['Fare'].quantile(0.75)

IQR = Q3-Q1

(Q1 - 1.5 * IQR), (Q3 + 1.5 * IQR)

(-26.724, 65.6344)

In [ ]:
# 이상치 데이터 구하기
out1 = t1_train[t1_train['Fare'] < (Q1 - 1.5 * IQR)]
out2 = t1_train[t1_train['Fare'] > (Q3 + 1.5 * IQR)]

print(len(out1))
print(len(out2))

0
116

In [ ]:
# 이상치 데이터에서 여성 수 구하기.
print(sum(out2['Sex'] == 'female'))

70

## T1-2. 이상치를 찾아라(소수점 나이)
### 이상치를 찾아라(소수점 나이)
### 주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림(절사)했을때 3가지 모두 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오

In [ ]:
t2_data = pd.read_csv('/content/T2_data.csv')

In [ ]:
print(t2_data.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
t2_data = t2_data[t2_data['age'] - np.floor(t2_data['age']) != 0]
print(t2_data)

      id   age city    f1  f2   f3    f4         f5
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
21  id22  -6.3   부산  72.0   1  NaN  ENFP  52.667078
28  id29 -13.5   부산  47.0   2  NaN  ENTP  67.886373
46  id47  34.6   대구  75.0   1  NaN  ESTJ  90.496999
64  id65  26.5   경기   NaN   0  NaN  ISFP  91.297791
84  id85  83.6   경기  55.0   0  NaN  INFJ  80.138280
92  id93  21.8   경기  57.0   0  NaN  ISFP  73.586397

In [ ]:
# 이상치를 포함한 데이터 올림 / 내림 / 버림의 평균값

# 올림
m_ceil = np.ceil(t2_data['age']).mean()

# 내림
m_floor = np.floor(t2_data['age']).mean()

# 버림
m_trunc = np.trunc(t2_data['age']).mean()

print("# m_ceil  : ", m_ceil)
print("# m_floor : ", m_floor)
print("# m_trunc : ", m_trunc)

# m_ceil  :  23.75
# m_floor :  22.75
# m_trunc :  23.0

In [ ]:
print(m_ceil + m_floor + m_trunc)

69.5

## T1-3. 결측치 처리(map 활용)
### 주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!

In [ ]:
t3_data1 = pd.read_csv('/content/T3_data_1.csv')
t3_data2 = pd.read_csv('/content/T3_data_2.csv')

In [ ]:
# EDA
print("t3_data1 : ", t3_data1.isnull().sum())
print("t3_data2 : ", t3_data2.isnull().sum())
print(t3_data1.head())

t3_data1 :  id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64
t3_data2 :  Date       0
Sales      0
PV         0
UV        46
Events     0
dtype: int64
     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
# 결측비율 확인
t3_data1.isnull().sum() / t3_data1.shape[0]

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [ ]:
# f3 컬럼 삭제.
print("삭제 전 ", t3_data1.shape)
t3_data1 = t3_data1.drop(['f3'], axis = 1)
print("삭제 후 ", t3_data1.shape)

삭제 전  (100, 8)
삭제 후  (100, 7)

In [ ]:
# 도시 확인
t3_data1['city'].unique()

array(['서울', '부산', '대구', '경기'], dtype=object)

In [ ]:
s = t3_data1[t3_data1['city'] == '서울']['f1'].median()
b = t3_data1[t3_data1['city'] == '부산']['f1'].median()
d = t3_data1[t3_data1['city'] == '대구']['f1'].median()
g = t3_data1[t3_data1['city'] == '경기']['f1'].median()

print("서울 : ", s)
print("부산 : ", b)
print("대구 : ", d)
print("경기 : ", g)

서울 :  68.0
부산 :  62.0
대구 :  75.0
경기 :  58.0

In [ ]:
t3_data1[18:21]

     id   age city    f1  f2    f4         f5
0  id01   2.0   서울   NaN   0  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  INFP  52.667078
4  id05  24.0   서울  85.0   2  ISFJ  29.269869

In [ ]:
t3_data1['f1'] = t3_data1['f1'].fillna(t3_data1['city'].map({'서울' : s, '부산': b, '대구' : d, '경기': g}))

print(t3_data1.head())

     id   age city    f1  f2    f4         f5
0  id01   2.0   서울  68.0   0  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  ISTJ  17.252986
3  id04  75.0   서울  68.0   2  INFP  52.667078
4  id05  24.0   서울  85.0   2  ISFJ  29.269869

In [ ]:
print(t3_data1['f1'].mean())

65.52

## T1-5. 조건에 맞는 데이터 표준편차 구하기
### 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오

In [ ]:
t5_data = pd.read_csv('/content/T5_data.csv')
print(t5_data.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
# 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오

ENFJ = t5_data[t5_data['f4'] == 'ENFJ']
INFP = t5_data[t5_data['f4'] == 'INFP']

print('# ENFJ : ', ENFJ)
print('# INFP : ', INFP)

# ENFJ :        id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
32  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
40  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
44  id45  97.0   대구  88.0   0  NaN  ENFJ  13.049921
53  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313
# INFP :        id    age city    f1  f2   f3    f4         f5
3   id04   75.0   서울   NaN   2  NaN  INFP  52.667078
33  id34   65.0   부산   NaN   1  NaN  INFP  48.431184
76  id77   77.0   경기  31.0   0  NaN  INFP  98.429899
91  id92   97.0   경기  78.0   1  NaN  INFP  97.381034
96  id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97  id98   39.0   경기  58.0   2  NaN  INFP  98.429899

In [ ]:
ENFJ_STD = ENFJ['f1'].std()
INFP_STD = INFP['f1'].std()

print('ENFJ_STD : ', ENFJ_STD)
print('INFP_STD : ', INFP_STD)

ENFJ_STD :  17.727097901235837
INFP_STD :  23.586719427112648

In [ ]:
print(abs(ENFJ_STD - INFP_STD))

5.859621525876811

## T1-6. 결측치 제거 및 그룹 합계
### 주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오

In [ ]:
t6_data = pd.read_csv('/content/T6_data.csv')
print(t6_data.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
# f1컬럼 결측치 제거
t6_data = t6_data[~t6_data['f1'].isnull()]
print(t6_data.head())

     id   age city    f1  f2   f3    f4         f5
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
5  id06  22.0   서울  57.0   0  vip  INTP  20.129444
6  id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378

In [ ]:
# 그룹 / 합계 계산
t6_groupBySum = t6_data.groupby(['city', 'f2']).sum()
print(t6_groupBySum)

           age     f1          f5
city f2
경기   0   720.4  833.0  943.944823
     1   696.0  670.0  657.241212
     2   239.0  311.0  362.300060
대구   0   387.0  527.0  183.199568
     1   217.6  235.0  241.333824
     2   140.0  211.0   79.667919
부산   0   331.0  389.0  284.371097
     1   188.7  315.0  299.270973
     2   -13.5   47.0   67.886373
서울   0   145.0  278.0  218.528577
     1   315.3  534.0  438.485010
     2    68.3  207.0  126.661135

<ipython-input-53-15e1c9ab154f>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  t6_groupBySum = t6_data.groupby(['city', 'f2']).sum()

In [ ]:
# 값 출력
# print(t6_groupBySum.loc['경기']['f1'][0])
print(t6_groupBySum.iloc[0]['f1'])

833.0

## T1-7. 값 변경 및 2개 이상의 조건
### 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오!

In [ ]:
t7_data = pd.read_csv('/content/T7_data.csv')
print(t7_data.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
# 데이터 확인
print(t7_data[t7_data['f4'] == 'ESFJ'])

      id   age city    f1  f2   f3    f4         f5
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
12  id13  15.0   서울  68.0   0  NaN  ESFJ  83.685380
30  id31  86.0   부산  77.0   0  NaN  ESFJ  73.586397
58  id59  64.0   대구   NaN   1  NaN  ESFJ  20.129444
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034

In [ ]:
# 값 변경하기
t7_data['f4']= t7_data['f4'].replace('ESFJ', 'ISFJ')
# print(t7_data[t7_data['f4']=='ESFJ'])

Empty DataFrame
Columns: [id, age, city, f1, f2, f3, f4, f5]
Index: []

In [ ]:
t7_result = t7_data[(t7_data['city'] ==  '경기') & (t7_data['f4'] == 'ISFJ')]['age'].max()
print(t7_result)

90.0

## T1-8. 누적합 그리고 보간(결측치 처리)
### 주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)

In [ ]:
t8_data = pd.read_csv('/content/T8_data.csv')
print(t8_data.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
t8_cumsum = t8_data[t8_data['f2'] == 1]['f1'].cumsum()
print(t8_cumsum)

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16       NaN
19     534.0
20       NaN
21     606.0
22     681.0
25     738.0
27     772.0
33       NaN
35     849.0
37       NaN
46     924.0
49    1002.0
51    1084.0
53       NaN
55       NaN
58       NaN
62    1170.0
65       NaN
66    1222.0
69    1318.0
72       NaN
77    1414.0
80    1464.0
82    1514.0
86       NaN
88    1580.0
91    1658.0
93       NaN
94    1701.0
95    1754.0
Name: f1, dtype: float64

In [ ]:
# 결측값 바로 뒤의 값으로 채움.
t8_cumsum = t8_cumsum.fillna(method = 'bfill')
print(t8_cumsum)

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16     534.0
19     534.0
20     606.0
21     606.0
22     681.0
25     738.0
27     772.0
33     849.0
35     849.0
37     924.0
46     924.0
49    1002.0
51    1084.0
53    1170.0
55    1170.0
58    1170.0
62    1170.0
65    1222.0
66    1222.0
69    1318.0
72    1414.0
77    1414.0
80    1464.0
82    1514.0
86    1580.0
88    1580.0
91    1658.0
93    1701.0
94    1701.0
95    1754.0
Name: f1, dtype: float64

In [ ]:
t8_result = t8_cumsum.mean()
print(t8_result)

980.3783783783783

## T1-9. 수치형 변수 표준화
### 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오

In [ ]:
t9_data = pd.read_csv('/content/T9_data.csv')
print(t9_data.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
# 표준화
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
t9_data['f5'] = scaler.fit_transform(t9_data[['f5']])
print(t9_data.head())

     id   age city    f1  f2   f3    f4        f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  1.220815
1  id02   9.0   서울  70.0   1  NaN  ENFJ  0.127343
2  id03  27.0   서울  61.0   1  NaN  ISTJ -1.394535
3  id04  75.0   서울   NaN   2  NaN  INFP -0.143667
4  id05  24.0   서울  85.0   2  NaN  ISFJ -0.970085

In [ ]:
# 중앙값 출력
print(t9_data['f5'].median())

0.26061962955901474

## T1-10. 여-존슨과 박스-칵스 변환
### 주어진 데이터에서 20세 이상인 데이터를 추출하고 'f1'컬럼을 결측치를 최빈값으로 채운 후, f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고, 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오

In [ ]:
t10_data = pd.read_csv('/content/T10_data.csv')
print(t10_data.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [ ]:
t10_age = t10_data[t10_data['age'] >= 20]
print('t10_data : ', t10_data.shape)
print('t10_age : ', t10_age.shape)

t10_data :  (100, 8)
t10_age :  (83, 8)

In [ ]:
# 최빈값으로 'f1' 컬럼 결측치 대체
print('결측치 처리 전   : ', t10_data.isnull().sum())
print('최빈값         : ', t10_data['f1'].mode()[0])
t10_data['f1'] = t10_data['f1'].fillna(t10_data['f1'].mode()[0])
print('결측치 처리 후   : ', t10_data.isnull().sum())

결측치 처리 전   :  id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64
최빈값         :  50.0
결측치 처리 후   :  id       0
age      0
city     0
f1       0
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [ ]:
# 'f1' 데이터 여-존슨 값 구하기.
from sklearn.preprocessing import power_transform
t10_data['y'] = power_transform(t10_data[['f1']]) # method 디폴트 값 = 여-존슨
print(t10_data['y'].head())

0   -0.587095
1    0.564070
2    0.070360
3   -0.587095
4    1.319089
Name: y, dtype: float64

In [ ]:
t10_data['y'] = power_transform(t10_data[['f1']], standardize=False)
print(t10_data['y'].head())

0    11.603160
1    13.948618
2    12.942701
3    11.603160
4    15.486942
Name: y, dtype: float64

In [ ]:
# f1'데이터 박스-콕스 box-cox 값 구하기
t10_data['b'] = power_transform(t10_data[['f1']], method='box-cox', standardize = False)
print(t10_data['b'].head())

0    11.958190
1    14.486739
2    13.401504
3    11.958190
4    16.148861
Name: b, dtype: float64

In [ ]:
print(sum(np.abs(t10_data['y'] - t10_data['b'])), 2)

45.28146270873602 2

## T1-11. min-max 기준 상하위 5%값
### 주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오

In [ ]:
import pandas as pd
import numpy as np

t11_data = pd.read_csv('/content/T11_data.csv')

# print(t11_data.head())
# print(t11_data.isnull().sum())

# MIN-MAX SCALER
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
t11_data['f5_1'] = scaler.fit_transform(t11_data[['f5']])

lower = t11_data['f5_1'].quantile(0.05)

print(lower)

higher = t11_data['f5_1'].quantile(0.95)

print(higher)

print(lower + higher)

0.03670782406038746
0.9881662742993513
1.0248740983597389

## T1-12. 상위 10개, 하위 10개 차이
### 주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구해보세요

In [ ]:
t12_data = pd.read_csv('/content/T12_data.csv')

# print(t12_data.head())

t12 = t12_data.groupby('country').max() # 시간에 따라 접종률이 올라감.
t12 = t12.sort_values(by='ratio', ascending= False)

# 100%가 넘는 접종률 제거
cond = t12['ratio'] <= 100
t12 = t12[cond]

top = t12['ratio'].head(10).mean()
bottom = t12['ratio'].tail(10).mean()

print(round(top - bottom, 1))

88.4

## T1-13. 상관관계 구하기.
### 주어진 데이터에서 상관관계를 구하고, quality와의 상관관계가 가장 큰 값과, 가장 작은 값을 구한 다음 더하시오! 단, quality와 quality 상관관계 제외, 소수점 둘째 자리까지 출력

In [ ]:
t13_data = pd.read_csv('/content/T13._data.csv')

# print(t13_data.head())

# 상관관계 구하기
t13_corr = t13_data.corr()
t13_corr = t13_corr[:-1]

# 상관관계가 가장 큰 값과 가장 작은 값(절대값)
max_corr = abs(t13_data.corr()['quality'][:-1]).max()
min_corr = abs(t13_data.corr()['quality'][:-1]).min()

if max_corr not in t13_data.corr()[['quality']][:-1].values:
  max_corr =- max_corr

if min_corr not in t13_data.corr()[['quality']][:-1].values:
  min_corr =- min_corr

t13_result = round(max_corr + min_corr, 2)
print(t13_result)

0.47616632400113656 0.013731637340065779
0.47616632400113656 0.013731637340065779
0.49

## T1-14. 2개 조건에 따른 상위 값
### city와 f4를 기준으로 f5의 평균값을 구한 다음, f5를 기준으로 상위 7개 값을 모두 더해 출력하시오 (소수점 둘째자리까지 출력)

In [ ]:
t14_data = pd.read_csv('/content/T14_data.csv')

# print(t14_data.head())

# city와 f4 기준으로 f5값 평균 값
t14_data = t14_data.groupby(['city', 'f4'])[['f5']].mean()

# DataFrame 전환 후, 상위 7개 출력 (중요)
t14_data = t14_data.reset_index().sort_values('f5', ascending=False).head(7)

# f5의 합계(소수점 둘째자리)
print(round(t14_data['f5'].sum(), 2))

643.68

## T1-15. 슬라이싱 & 조건
### 주어진 데이터 셋에서 age컬럼 상위 20개의 데이터를 구한 다음 f1의 결측치를 중앙값으로 채운다. 그리고 f4가 ISFJ와 f5가 20 이상인 f1의 평균값을 출력하시오!

In [ ]:
import pandas as pd
import numpy as np

t15_data = pd.read_csv('/content/T15_data.csv')

t15 = t15_data.sort_values('age', ascending=False).reset_index(drop=True)

# print(t15.head())

t15 = t15[:20]

# 결측값 채우기(중앙값)
t15['f1'] = t15['f1'].fillna(t15['f1'].median())

# f4 = ISFJ && f5 >= 20
cond = (t15['f4'] == 'ISFJ') & (t15['f5'] >= 20)

print(t15[cond]['f1'].mean())

73.875

## T1-16. 분산
### 주어진 데이터 셋에서 f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하고 앞에서 부터 20개의 데이터를 추출한 후 f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오 (소수점 둘째 자리까지)

In [ ]:
t16 = pd.read_csv('/content/T16_data.csv')

# 조건 'f2' == 0 && sortBy 'age' ascending
t16 = t16[t16['f2'] == 0].sort_values('age', ascending = True).reset_index(drop = True)

# 20개 데이터
t16 = t16[:20]

# f1 결측치(최소값)를 채우기 전과 후의 분산
t16_var1 = t16['f1'].var()
t16['f1'] = t16['f1'].fillna(t16['f1'].min())
t16_var2 = t16['f1'].var()

print(round(t16_var2 - t16_var1, 2))

-38.44

## T1-17. 시계열 데이터1
### 2022년 5월 sales의 중앙값을 구하시오

In [ ]:
t17 = pd.read_csv('/content/T17_data.csv')


# datetime으로 type 변경
t17['Date'] = pd.to_datetime(t17['Date'])

t17['year'] = t17['Date'].dt.year
t17['month'] = t17['Date'].dt.month
t17['day'] = t17['Date'].dt.day

# print(t17.head())

cond = (t17['year'] == 2022) & (t17['month'] == 5)

print(t17[cond]['Sales'].median())

1477685.0

## T1-18. 시계열 데이터2
### 주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)

In [ ]:
t18 = pd.read_csv('/content/T18_data.csv', parse_dates = ['Date'])

# print(t18.info())

t18['year'] = t18['Date'].dt.year
t18['month'] = t18['Date'].dt.month
t18['day'] = t18['Date'].dt.day
t18['dayofweek'] = t18['Date'].dt.dayofweek

t18['weekend'] = t18['dayofweek'].apply(lambda x : x >= 5)

# 2022년 5월 주말
weekend = (t18['year'] == 2022) & (t18['month'] == 5) & (t18['weekend'])

# 2022년 5월 평일
weekday = (t18['year'] == 2022) & (t18['month'] == 5) & (~t18['weekend'])

# SALES
weekend_sales = t18[weekend]['Sales'].mean()
weekday_sales = t18[weekday]['Sales'].mean()

print(round(weekend_sales - weekday_sales, 1))

3010339.1

## T1-19. 시계열 데이터3
### 주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과 2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하시오. 단 Events컬럼이 '1'인경우 80%의 Salse값만 반영함. (최종값은 소수점 반올림 후 정수 출력)

In [ ]:
t19 = pd.read_csv('/content/T19_data.csv', parse_dates = ['Date'])

t19['year'] = t19['Date'].dt.year
t19['month'] = t19['Date'].dt.month
t19['day'] = t19['Date'].dt.day
t19['dayofweek'] = t19['Date'].dt.dayofweek

def event_sales(x) :
  if x['Events'] == 1:
    x['Sales2'] = x['Sales'] * 0.8
  else:
    x['Sales2'] = x['Sales']
  return x


# 1인 경우, row || 0인 경우 column
t19 = t19.apply(lambda x : event_sales(x), axis = 1)

# 2022년 월별 합계 중 가장 큰 값
t19_2022 = t19[t19['year'] == 2022]
sale_2022 = t19_2022.groupby('month')['Sales2'].sum().max()


t19_2023 = t19[t19['year'] == 2023]
sale_2023 = t19_2023.groupby('month')['Sales2'].sum().max()

print(int(round(abs(sale_2022 - sale_2023), 0)))

42473436

## T1-20. 데이터 병합
### 고객과 잘 맞는 타입 추천 :) basic1 데이터와 basic3 데이터를 'f4'값을 기준으로 병합하고,병합한 데이터에서 r2결측치를 제거한다음, 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합을 구하시오

In [ ]:
t201 = pd.read_csv('/content/T20_data_1.csv') # 고객 데이터
t202 = pd.read_csv('/content/T20_data_2.csv') # 잘 어울리는 관계 데이터(추천1: r1 / 추천2 : r2)

# print(t201.head())
# print(t202.head())

# 데이터 결합(t201 기준으로 결합)
t20 = pd.merge(left = t201, right = t202, how='left', on = 'f4')

# print(t20.isnull().sum())

t20 = t20.dropna(subset= ['r2'])

t20 = t20.reset_index()

print(t20.iloc[:20]['f2'].sum())

15

## T1-21. 구간 분할
### 나이 구간 나누기basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오(이상치는 음수(0포함), 소수점 값)

In [ ]:
t21 = pd.read_csv('/content/T21_data.csv')

# print(t21.isnull().sum())

t21 = t21[~(t21['age'] <= 0)]

t21 = t21[t21['age'] == round(t21['age'], 0)]

# 기준 확인
# pd.qcut(t21['age'], q=3)

# 구간 분할
t21['range'] = pd.qcut(t21['age'], q=3, labels = ['group1', 'group2' ,'group3'])

# 수량 비교
# t21['range'].value_counts()

# 중간 이상 - 중간 이하
g1_med = t21[t21['range'] == 'group1']['age'].median()
g2_med = t21[t21['range'] == 'group2']['age'].median()
g3_med = t21[t21['range'] == 'group3']['age'].median()

print(g1_med + g2_med + g3_med)

165.0

## T1-22.Time-Series4 (Weekly data)
### 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)

In [ ]:
import pandas as pd
import numpy as np

t22 = pd.read_csv('/content/T22_data.csv', parse_dates = ['Date'], index_col = 0)

# print(t22.head())

# 단위 변환
t22_week = t22.resample('W').sum()

# print(t22_week.head())

t22_max = t22_week['Sales'].max()
t22_min = t22_week['Sales'].min()

print(t22_max - t22_min)

91639050

## T1-23. 중복 데이터 제거
### f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오

In [ ]:
t23 = pd.read_csv('/content/T23_data.csv')

# t23.tail()

# f1 데이터에서 10번째 큰 값으로 결측치 채움

top10 = t23['f1'].sort_values(ascending=False).iloc[9]

t23['f1'] = t23['f1'].fillna(top10)

# 중복 제거 전 중앙값
t23_result = t23['f1'].median()

t23 = t23.drop_duplicates(subset=['age'])

t23_ret = t23['f1'].median()

print(abs(t23_result - t23_ret))

0.5

## T1-24. Time-Series5 (Lagged Feature) 시차 데이터 생성
### 주어진 데이터(basic2.csv)에서 "pv"컬럼으로 1일 시차(lag)가 있는 새로운 컬럼을 만들고(예: 1월 2일에는 1월 1일 pv데이터를 넣고, 1월 3일에는 1월 2일 pv데이터를 넣음),새로운 컬럼의 1월 1일은 다음날(1월 2일)데이터로 결측치를 채운 다음, Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오

In [ ]:
t24 = pd.read_csv('/content/T24_data.csv')


t24['previous_PV'] = t24['PV'].shift(1)

t24['previous_PV'] = t24['previous_PV'].fillna(method='bfill')

cond = (t24['Sales'] <= 1000000) & (t24['Events'] == 1)

print(t24[cond]['previous_PV'].sum())

1894876.0