<a href="https://colab.research.google.com/github/Adeonthebeat/BigDataCert/blob/main/%EC%9E%91%EC%97%85%ED%98%952_4%ED%9A%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
다음은 Customer Segmentation 데이터 세트다.
주어진 훈련 데이터 세트를 활용하여 고객이 속한 세그먼트(Segment)를 예측하고 해당 예측 결과를 csv 파일로 제출하시오.
'''
# macro_f1
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

In [ ]:
import pandas as pd

# 데이터 파일 읽기
x_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/404_x_test.csv')
x_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/404_x_train.csv')
y_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/404_y_train.csv')

In [ ]:
print(x_test.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  458989  Female          Yes   36       Yes    Engineer              0.0
1  458994    Male          Yes   37       Yes  Healthcare              8.0
2  459000    Male          Yes   59        No   Executive             11.0
3  459003    Male          Yes   47       Yes      Doctor              0.0
4  459005    Male          Yes   61       Yes      Doctor              5.0

  Spending_Score  Family_Size
0            Low          1.0
1        Average          4.0
2           High          2.0
3           High          5.0
4            Low          3.0

In [ ]:
print(x_train.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  462809    Male           No   22        No  Healthcare              1.0
1  466315  Female          Yes   67       Yes    Engineer              1.0
2  461735    Male          Yes   67       Yes      Lawyer              0.0
3  461319    Male          Yes   56        No      Artist              0.0
4  460156    Male           No   32       Yes  Healthcare              1.0

  Spending_Score  Family_Size
0            Low          4.0
1            Low          1.0
2           High          2.0
3        Average          2.0
4            Low          3.0

In [ ]:
print(y_train.head())

       ID Segmentation
0  462809            D
1  466315            B
2  461735            B
3  461319            C
4  460156            C

In [ ]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6718 non-null   int64
 1   Gender           6718 non-null   object
 2   Ever_Married     6718 non-null   object
 3   Age              6718 non-null   int64
 4   Graduated        6718 non-null   object
 5   Profession       6718 non-null   object
 6   Work_Experience  6718 non-null   float64
 7   Spending_Score   6718 non-null   object
 8   Family_Size      6718 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 472.5+ KB
None

In [ ]:
print(y_train.head())

       ID Segmentation
0  462809            D
1  466315            B
2  461735            B
3  461319            C
4  460156            C

In [ ]:
print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2178 entries, 0 to 2177
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2178 non-null   int64
 1   Gender           2178 non-null   object
 2   Ever_Married     2178 non-null   object
 3   Age              2178 non-null   int64
 4   Graduated        2178 non-null   object
 5   Profession       2178 non-null   object
 6   Work_Experience  2178 non-null   float64
 7   Spending_Score   2178 non-null   object
 8   Family_Size      2178 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 153.3+ KB
None

In [ ]:
print(x_train.isnull().sum())

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
dtype: int64

In [ ]:
print(x_test.isnull().sum())

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
dtype: int64

In [ ]:
# print(y_train.isnull().sum())
print(x_test.head())

       ID  Gender  Ever_Married       Age  Graduated  Profession  \
0  458989       0             1 -0.457046          1           2
1  458994       1             1 -0.396351          1           5
2  459000       1             1  0.938941          0           4
3  459003       1             1  0.210600          1           1
4  459005       1             1  1.060332          1           1

   Work_Experience  Spending_Score  Family_Size
0        -0.769246               2    -1.214766
1         1.587678               0     0.746714
2         2.471525               1    -0.560940
3        -0.769246               1     1.400541
4         0.703832               2     0.092887

In [ ]:
# 데이터 분리
# 불필요 변수 : ID
# 범주형 변수 : Gender Ever_Married  Age Graduated  Profession Spending_Score
# 수치형 변수 : Age Work_Experience Family_Size
# 예측형 변수 : Segmentation

COL_DEL = ['ID']
COL_CAT = ['Gender', 'Ever_Married',  'Graduated',  'Profession', 'Spending_Score']
COL_NUM = ['Age', 'Work_Experience', 'Family_Size']
COL_Y = ['Segmentation']

In [ ]:
from sklearn.model_selection import train_test_split

x_tr, x_val, y_tr, y_val = train_test_split(x_train[COL_CAT + COL_NUM]
                                          , y_train[COL_Y].values.ravel()
                                          , test_size = 0.3
                                          , stratify= y_train[COL_Y].values.ravel())

In [ ]:
print(x_tr.head())

      Gender Ever_Married Graduated     Profession Spending_Score  Age  \
4409    Male          Yes       Yes         Artist            Low   73
5491    Male           No       Yes         Artist            Low   40
3227    Male          Yes       Yes  Entertainment        Average   55
4974  Female           No       Yes         Artist            Low   51
3095    Male           No       Yes         Artist            Low   35

      Work_Experience  Family_Size
4409              1.0          2.0
5491              2.0          1.0
3227              1.0          3.0
4974              0.0          1.0
3095              0.0          1.0

In [ ]:
print(y_tr)

['B' 'B' 'B' ... 'D' 'A' 'C']

In [ ]:
from sklearn.preprocessing import StandardScaler

# 스케일링
scaler = StandardScaler()
scaler.fit(x_tr[COL_NUM])

# 필수 모든 데이터 스케일링 필요
x_tr[COL_NUM] = scaler.transform(x_tr[COL_NUM])
x_val[COL_NUM] = scaler.transform(x_val[COL_NUM])
x_test[COL_NUM] = scaler.transform(x_test[COL_NUM])

print(x_tr[COL_NUM].head())

           Age  Work_Experience  Family_Size
4409  1.788673        -0.474631    -0.560940
5491 -0.214266        -0.180015    -1.214766
3227  0.696161        -0.474631     0.092887
4974  0.453380        -0.769246    -1.214766
3095 -0.517742        -0.769246    -1.214766

In [ ]:
from sklearn.preprocessing import LabelEncoder

x = pd.concat([x_train[COL_CAT], x_test[COL_CAT]])

for col in COL_CAT:
  le = LabelEncoder()
  le.fit(x[col])
  x_tr[col] = le.transform(x_tr[col])
  x_val[col] = le.transform(x_val[col])
  x_test[col] = le.transform(x_test[col])

  print(col)
  print(le.classes_)
  print('\n')

Gender
['Female' 'Male']


Ever_Married
['No' 'Yes']


Graduated
['No' 'Yes']


Profession
['Artist' 'Doctor' 'Engineer' 'Entertainment' 'Executive' 'Healthcare'
 'Homemaker' 'Lawyer' 'Marketing']


Spending_Score
['Average' 'High' 'Low']

In [ ]:
print(x_tr[COL_CAT].head())

      Gender  Ever_Married  Graduated  Profession  Spending_Score
4409       1             1          1           0               2
5491       1             0          1           0               2
3227       1             1          1           3               0
4974       0             0          1           0               2
3095       1             0          1           0               2

In [ ]:
# XGBoost 최신 버전에서 발생하는 y 데이터의 Label오류 해결을 위한 추가 코드
y_le = LabelEncoder()
y_le.fit(y_train[COL_Y])

y_tr = y_le.transform(y_tr)
y_val = y_le.transform(y_val)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# 랜덤 포레스트
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(random_state = 123)
model_rf.fit(x_tr, y_tr)

# XGBoost
from xgboost import XGBClassifier
model_xgb = XGBClassifier(random_state = 123)
model_xgb.fit(x_tr, y_tr)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, objective='multi:softprob', ...)

In [ ]:
# 데이터 모형평가

# 검증데이터로 예측값 생성
y_rf_pred = model_rf.predict(x_val)
y_xgb_pred = model_xgb.predict(x_val)

In [ ]:
from sklearn.metrics import f1_score

score_rf = f1_score(y_val, y_rf_pred, average='macro')
score_xgb = f1_score(y_val, y_xgb_pred, average='macro')

print("RANDOM FOREST: ", score_rf)
print("XGBOOST      : ", score_xgb)

RANDOM FOREST:  0.48791779146349795
XGBOOST      :  0.5062015777817022

In [ ]:
import sklearn.metrics

# print(help(sklearn.metrics))

In [ ]:
pred = model_xgb.predict(x_test[COL_CAT+COL_NUM])

pred = y_le.inverse_transform(pred)

result = pd.DataFrame({'ID' : x_test.ID, 'Segmentation': pred})

print(result.head())

       ID Segmentation
0  458989            B
1  458994            C
2  459000            C
3  459003            C
4  459005            B

In [ ]:
result.to_csv('223008_002', index=False)